.title {
  font-size: 1.5rem;
}
.img {
  width: 100%;
  height: auto;
}
.img-box {
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: darkred;
  border: 2px solid deepskyblue;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	width: 8.9rem;
	height: 3.7rem;
	background: url("../images/logo.svg") 50% 50% no-repeat;
	background-size: contain;
	font-size: 0;
	flex-shrink: 0;
}

.ico {
	display: inline-block;
	vertical-align: middle;
	width: 2.6rem;
	height: 2.6rem;
	&-menu {
		@include ico('menu')
	}
	&-play-arrow {
		@include ico('play-arrow');
	}
	&-side-arrow {
		@include ico('side-arrow', 'rgb(25, 25, 25)');
	}
	&-facebook {@include ico('facebook');}
	&-twitter{@include ico('twitter');}
	&-discord{@include ico('discord');}
	&-medium{@include ico('medium');}
	&-telegram{@include ico('telegram');}
	&-youtube{@include ico('youtube');}
}

.social {
	display: inline-block;
	vertical-align: middle;
	width: 2.4rem;
	height: 2.4rem;
	&-telegram{@include social('telegram');}
	&-twitter{@include social('twitter');}
	&-discord{@include social('discord');}
	&-discord2{@include social('discord2');}
	&-medium{@include social('medium');}
	&-youtube{@include social('youtube');}
	&-instagram{@include social('instagram');}
	&-linkedin{@include social('linkedin');}
}

.btn-menu {
	display: block;
	padding: 1rem;
}

.btn-play {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	width: 8rem;
	height: 8rem;
	background-color: #191919;
	border-radius: 50em;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.btn-more {
	width: 100%;
	border-radius: 50em;
	background-color: #fff;
	padding: 1.2rem 2rem;
	font-weight: 700;
	font-size: 1.8rem;
	letter-spacing: -0.05rem;
	max-width: 30rem;
	color: #191919;
}

.btn-nft {
	width: 14rem;
	height: 14rem;
	background-color: #333;
	border-radius: 3rem;
	font-size: 3.8rem;
	color: #fafafc;
	font-weight: 700;
	box-shadow: 0px 14px 0px #000000;
}

.btn-close {
	width: 2.4rem;
	height: 2.4rem;
	background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.6138 2.25091C24.1287 1.73599 24.1287 0.901128 23.6138 0.386202C23.0989 -0.128724 22.264 -0.128724 21.7491 0.386202L12 10.1353L2.25091 0.386202C1.73598 -0.128724 0.90112 -0.128724 0.386194 0.386202C-0.128731 0.901128 -0.128731 1.73599 0.386194 2.25091L10.1353 12L0.386194 21.7491C-0.128731 22.264 -0.128731 23.0989 0.386194 23.6138C0.90112 24.1287 1.73598 24.1287 2.25091 23.6138L12 13.8647L21.7491 23.6138C22.264 24.1287 23.0989 24.1287 23.6138 23.6138C24.1287 23.0989 24.1287 22.264 23.6138 21.7491L13.8647 12L23.6138 2.25091Z" fill="white"/></svg>') 0 0 no-repeat;
	font-size: 0;
}

.btn-go-top {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	border-radius: 50rem;
	z-index: 80;
	width: 5.6rem;
	height: 5.6rem;
	font-size: 0;
	background:#fff url('data:image/svg+xml,<svg viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.39876e-06 8L1.41 9.41L7 3.83L7 24L9 24L9 3.83L14.58 9.42L16 8L8 -6.99382e-07L1.39876e-06 8Z" fill="rgb(25, 25, 25)"/></svg>') 50% 50% no-repeat;
	background-size: 1.6rem auto;
	opacity: 0;
	transition: 0.3s ease;
	&.on {
		opacity: 1;
	}
}

.scroll-down {
	width: 8.8rem;
	height: 6.2rem;
	background: url('data:image/svg+xml,<svg viewBox="0 0 88 62" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.344 15.408C7.344 15.9947 7.20533 16.496 6.928 16.912C6.65067 17.3173 6.23467 17.6267 5.68 17.84C5.12533 18.0533 4.43733 18.16 3.616 18.16C3.008 18.16 2.48533 18.1173 2.048 18.032C1.61067 17.9573 1.17333 17.8293 0.736 17.648V15.68C1.20533 15.8933 1.712 16.0693 2.256 16.208C2.8 16.3467 3.28 16.416 3.696 16.416C4.16533 16.416 4.496 16.3467 4.688 16.208C4.89067 16.0693 4.992 15.888 4.992 15.664C4.992 15.5147 4.94933 15.3813 4.864 15.264C4.78933 15.1467 4.61867 15.0133 4.352 14.864C4.08533 14.7147 3.66933 14.5227 3.104 14.288C2.56 14.0533 2.112 13.824 1.76 13.6C1.408 13.3653 1.14667 13.088 0.976 12.768C0.805333 12.4373 0.72 12.0267 0.72 11.536C0.72 10.7253 1.03467 10.1173 1.664 9.712C2.29333 9.30667 3.13067 9.104 4.176 9.104C4.72 9.104 5.23733 9.15733 5.728 9.264C6.21867 9.37067 6.72533 9.54667 7.248 9.792L6.528 11.504C6.24 11.376 5.96267 11.264 5.696 11.168C5.42933 11.072 5.168 10.9973 4.912 10.944C4.66667 10.8907 4.41067 10.864 4.144 10.864C3.792 10.864 3.52533 10.912 3.344 11.008C3.17333 11.104 3.088 11.248 3.088 11.44C3.088 11.5787 3.13067 11.7067 3.216 11.824C3.312 11.9307 3.488 12.048 3.744 12.176C4.01067 12.304 4.4 12.4747 4.912 12.688C5.41333 12.8907 5.84533 13.104 6.208 13.328C6.57067 13.5413 6.848 13.8133 7.04 14.144C7.24267 14.464 7.344 14.8853 7.344 15.408ZM12.4331 18.16C11.5691 18.16 10.8331 18.0053 10.2251 17.696C9.61712 17.376 9.15312 16.8853 8.83312 16.224C8.51312 15.5627 8.35312 14.7147 8.35312 13.68C8.35312 12.6133 8.53446 11.744 8.89712 11.072C9.25979 10.4 9.76112 9.904 10.4011 9.584C11.0518 9.264 11.7985 9.104 12.6411 9.104C13.2385 9.104 13.7558 9.16267 14.1931 9.28C14.6411 9.39733 15.0305 9.536 15.3611 9.696L14.6571 11.536C14.2838 11.3867 13.9318 11.264 13.6011 11.168C13.2811 11.072 12.9611 11.024 12.6411 11.024C12.2251 11.024 11.8785 11.1253 11.6011 11.328C11.3238 11.52 11.1158 11.8133 10.9771 12.208C10.8491 12.592 10.7851 13.0773 10.7851 13.664C10.7851 14.24 10.8545 14.72 10.9931 15.104C11.1425 15.4773 11.3558 15.76 11.6331 15.952C11.9105 16.1333 12.2465 16.224 12.6411 16.224C13.1425 16.224 13.5851 16.16 13.9691 16.032C14.3531 15.8933 14.7265 15.7067 15.0891 15.472V17.504C14.7265 17.7387 14.3425 17.904 13.9371 18C13.5425 18.1067 13.0411 18.16 12.4331 18.16ZM21.6599 9.104C21.7772 9.104 21.9159 9.10933 22.0759 9.12C22.2359 9.13067 22.3639 9.14667 22.4599 9.168L22.2839 11.408C22.2092 11.3867 22.0972 11.3707 21.9479 11.36C21.8092 11.3387 21.6865 11.328 21.5799 11.328C21.2705 11.328 20.9719 11.3707 20.6839 11.456C20.3959 11.5307 20.1345 11.6533 19.8999 11.824C19.6759 11.9947 19.4945 12.224 19.3559 12.512C19.2279 12.7893 19.1639 13.136 19.1639 13.552V18H16.7799V9.264H18.5879L18.9399 10.736H19.0519C19.2225 10.4373 19.4359 10.1653 19.6919 9.92C19.9479 9.67467 20.2412 9.47733 20.5719 9.328C20.9132 9.17867 21.2759 9.104 21.6599 9.104ZM31.349 13.616C31.349 14.3413 31.2477 14.9867 31.045 15.552C30.853 16.1173 30.5703 16.5973 30.197 16.992C29.8343 17.376 29.3917 17.6693 28.869 17.872C28.3463 18.064 27.7543 18.16 27.093 18.16C26.485 18.16 25.9197 18.064 25.397 17.872C24.885 17.6693 24.4423 17.376 24.069 16.992C23.6957 16.5973 23.4023 16.1173 23.189 15.552C22.9863 14.9867 22.885 14.3413 22.885 13.616C22.885 12.6453 23.0557 11.8293 23.397 11.168C23.7383 10.496 24.229 9.984 24.869 9.632C25.509 9.28 26.2663 9.104 27.141 9.104C27.9623 9.104 28.6877 9.28 29.317 9.632C29.9463 9.984 30.4423 10.496 30.805 11.168C31.1677 11.8293 31.349 12.6453 31.349 13.616ZM25.317 13.616C25.317 14.192 25.3757 14.6773 25.493 15.072C25.621 15.456 25.8183 15.7493 26.085 15.952C26.3517 16.144 26.6983 16.24 27.125 16.24C27.5517 16.24 27.893 16.144 28.149 15.952C28.4157 15.7493 28.6077 15.456 28.725 15.072C28.853 14.6773 28.917 14.192 28.917 13.616C28.917 13.04 28.853 12.56 28.725 12.176C28.6077 11.792 28.4157 11.504 28.149 11.312C27.8823 11.12 27.5357 11.024 27.109 11.024C26.4797 11.024 26.021 11.2427 25.733 11.68C25.4557 12.1067 25.317 12.752 25.317 13.616ZM35.3832 18H32.9992V5.84H35.3832V18ZM39.9383 18H37.5543V5.84H39.9383V18ZM48.7135 18.16C47.7428 18.16 46.9482 17.7813 46.3295 17.024C45.7215 16.256 45.4175 15.1307 45.4175 13.648C45.4175 12.1547 45.7268 11.024 46.3455 10.256C46.9642 9.488 47.7748 9.104 48.7775 9.104C49.1935 9.104 49.5615 9.16267 49.8815 9.28C50.2015 9.38667 50.4735 9.536 50.6975 9.728C50.9322 9.92 51.1295 10.1387 51.2895 10.384H51.3695C51.3375 10.2133 51.3002 9.968 51.2575 9.648C51.2148 9.31733 51.1935 8.98133 51.1935 8.64V5.84H53.5775V18H51.7535L51.2895 16.864H51.1935C51.0442 17.0987 50.8522 17.3173 50.6175 17.52C50.3935 17.712 50.1268 17.8667 49.8175 17.984C49.5082 18.1013 49.1402 18.16 48.7135 18.16ZM49.5455 16.256C50.2068 16.256 50.6708 16.064 50.9375 15.68C51.2042 15.2853 51.3428 14.6987 51.3535 13.92V13.664C51.3535 12.8107 51.2202 12.16 50.9535 11.712C50.6975 11.264 50.2175 11.04 49.5135 11.04C48.9908 11.04 48.5802 11.2693 48.2815 11.728C47.9828 12.176 47.8335 12.8267 47.8335 13.68C47.8335 14.5333 47.9828 15.1787 48.2815 15.616C48.5802 16.0427 49.0015 16.256 49.5455 16.256ZM63.6865 13.616C63.6865 14.3413 63.5852 14.9867 63.3825 15.552C63.1905 16.1173 62.9078 16.5973 62.5345 16.992C62.1718 17.376 61.7292 17.6693 61.2065 17.872C60.6838 18.064 60.0918 18.16 59.4305 18.16C58.8225 18.16 58.2572 18.064 57.7345 17.872C57.2225 17.6693 56.7798 17.376 56.4065 16.992C56.0332 16.5973 55.7398 16.1173 55.5265 15.552C55.3238 14.9867 55.2225 14.3413 55.2225 13.616C55.2225 12.6453 55.3932 11.8293 55.7345 11.168C56.0758 10.496 56.5665 9.984 57.2065 9.632C57.8465 9.28 58.6038 9.104 59.4785 9.104C60.2998 9.104 61.0252 9.28 61.6545 9.632C62.2838 9.984 62.7798 10.496 63.1425 11.168C63.5052 11.8293 63.6865 12.6453 63.6865 13.616ZM57.6545 13.616C57.6545 14.192 57.7132 14.6773 57.8305 15.072C57.9585 15.456 58.1558 15.7493 58.4225 15.952C58.6892 16.144 59.0358 16.24 59.4625 16.24C59.8892 16.24 60.2305 16.144 60.4865 15.952C60.7532 15.7493 60.9452 15.456 61.0625 15.072C61.1905 14.6773 61.2545 14.192 61.2545 13.616C61.2545 13.04 61.1905 12.56 61.0625 12.176C60.9452 11.792 60.7532 11.504 60.4865 11.312C60.2198 11.12 59.8732 11.024 59.4465 11.024C58.8172 11.024 58.3585 11.2427 58.0705 11.68C57.7932 12.1067 57.6545 12.752 57.6545 13.616ZM71.5362 14.944C71.4936 14.7627 71.4296 14.496 71.3442 14.144C71.2696 13.7813 71.1842 13.3973 71.0882 12.992C70.9922 12.576 70.9016 12.1973 70.8162 11.856C70.7309 11.504 70.6722 11.248 70.6402 11.088H70.5762C70.5442 11.248 70.4856 11.504 70.4002 11.856C70.3256 12.1973 70.2402 12.576 70.1442 12.992C70.0482 13.3973 69.9576 13.7813 69.8722 14.144C69.7869 14.5067 69.7229 14.784 69.6802 14.976L68.9762 18H66.4162L63.9362 9.264H66.3042L67.3122 13.136C67.3869 13.4027 67.4509 13.7227 67.5042 14.096C67.5682 14.4693 67.6269 14.832 67.6802 15.184C67.7336 15.5253 67.7709 15.7973 67.7922 16H67.8562C67.8669 15.8507 67.8882 15.6533 67.9202 15.408C67.9522 15.152 67.9896 14.8907 68.0322 14.624C68.0856 14.3573 68.1282 14.1173 68.1602 13.904C68.2029 13.68 68.2349 13.5307 68.2562 13.456L69.3282 9.264H71.9522L72.9762 13.456C73.0189 13.6053 73.0669 13.8453 73.1202 14.176C73.1842 14.5067 73.2376 14.8427 73.2802 15.184C73.3336 15.5253 73.3602 15.7973 73.3602 16H73.4242C73.4456 15.8187 73.4829 15.5573 73.5362 15.216C73.5896 14.864 73.6482 14.496 73.7122 14.112C73.7869 13.728 73.8616 13.4027 73.9362 13.136L74.9762 9.264H77.3122L74.8002 18H72.2082L71.5362 14.944ZM83.3674 9.104C84.306 9.104 85.058 9.36 85.6234 9.872C86.1887 10.3733 86.4714 11.184 86.4714 12.304V18H84.0874V12.896C84.0874 12.2667 83.9754 11.7973 83.7514 11.488C83.5274 11.168 83.17 11.008 82.6794 11.008C81.954 11.008 81.458 11.2587 81.1914 11.76C80.9247 12.2507 80.7914 12.96 80.7914 13.888V18H78.4074V9.264H80.2314L80.5514 10.384H80.6794C80.8714 10.0853 81.106 9.84533 81.3834 9.664C81.6607 9.472 81.97 9.33333 82.3114 9.248C82.6527 9.152 83.0047 9.104 83.3674 9.104Z" fill="white"/><path d="M51 54L49.59 52.59L44 58.17V38H42V58.17L36.42 52.58L35 54L43 62L51 54Z" fill="white"/></svg>') 50% 50% no-repeat;
	background-size: contain;
}

.youtube-box {
	position: relative;
	z-index: 2;
	width: 100vw;
	height: ratioH(41.4rem, 25.7rem, 100vw);
	max-width: 119.8rem;
	max-height: ratioH(41.4rem, 25.7rem, 119.8rem);
	//(100vw * 25.7rem) / 41.4rem;
	//height: calc();
	background-color: #000;
	filter: drop-shadow(0px 14px 10px rgba(0, 0, 0, 0.35));
	.btn-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
	}
	&.b2 {
		width: 79vw;
		height: ratioH(41.4rem, 25.7rem, 79vw);
		//height: 20rem;
		margin-top: 5rem;
		max-width: 59.4rem;
		max-height: ratioH(41.4rem, 25.7rem, 59.4rem);
		////margin-bottom: 10rem;
		//max-width: 59rem;
	}
}

.cards-box-m {
	position: relative;
	z-index: 0;
	text-align: center;
	margin-top: -10%;
	width: 120%;
	margin-left: -10%;
	.card-group {
		display: flex;
		justify-content: space-around;
		img {
			width: 30%;
			margin: 1.5%;
			filter: drop-shadow(0px 1.4rem 1rem rgba(0, 0, 0, 0.35));
		}
	}
}
.cards-box-pc {
	display: none;
	max-width: 144rem;
	margin: auto;
	position: relative;
	.btn-nft {
		position: absolute;
		left: calc(50% - 7rem);
		right: 0;
		top: calc(50% + 38rem);
	}
	.card-group {
		width: 27rem;
		&.vertical {
			img {
				margin: 4.5rem 0;
			}
		}
		&.horizontal {
			display: flex;
			width: 100%;
			height: 27rem;
			img {
				width: initial;
				height: 100%;
				margin: 0 4.5rem;
			}
		}
		&:nth-of-type(1) {
			margin-left: 29rem;
			margin-top: -9%;
		}
		&:nth-of-type(2) {
			margin-left: 60rem;
			margin-top: -41rem;
		}
		&:nth-of-type(3) {
			margin-left: -51rem;
			margin-top: 28rem;
		}
		&:nth-of-type(4) {
			margin-left: 89rem;
			margin-top: -40.5rem;
		}
	}
	img {
		width: 100%;
		filter: drop-shadow(0px 1.4rem 1rem rgba(0, 0, 0, 0.35));
		&.opacity {
			opacity: 0.8;
		}

	}
	.groups {
		position: absolute;
		&.groups-1 {
			top: 22rem;
			left: -45rem;
			width: 68rem;
		}
		&.groups-2 {
			top: 20rem;
			right: -40rem;
			width: 119rem;
		}
		&.groups-3 {
			bottom: -74rem;
			left: -96rem;
			width: 119rem;
		}
		&.groups-4 {
			bottom: -66rem;
			right: -48rem;
			width: 68rem;
		}
	}
}

@media (min-width: 960px) {
	.btn-menu {
		display: none;
	}
	.cards-box-m {
		display: none;
	}
	.cards-box-pc {
		display: block;
	}
	.btn-go-top {
		right: 10%;
		bottom: 28rem;
	}
}