.title {
  font-size: 1.5rem;
}
.img {
  width: 100%;
  height: auto;
}
.img-box {
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: darkred;
  border: 2px solid deepskyblue;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	width: 8.9rem;
	height: 3.7rem;
	background: url("../images/logo.svg") 50% 50% no-repeat;
	background-size: contain;
	font-size: 0;
	flex-shrink: 0;
}

.ico {
	display: inline-block;
	vertical-align: middle;
	width: 2.6rem;
	height: 2.6rem;
	&-menu {
		@include ico('menu')
	}
	&-play-arrow {
		@include ico('play-arrow');
	}
	&-side-arrow {
		@include ico('side-arrow', 'rgb(25, 25, 25)');
	}
	&-facebook {@include ico('facebook');}
	&-twitter{@include ico('twitter');}
	&-discord{@include ico('discord');}
	&-medium{@include ico('medium');}
	&-telegram{@include ico('telegram');}
	&-youtube{@include ico('youtube');}
}

.social {
	display: inline-block;
	vertical-align: middle;
	width: 2.4rem;
	height: 2.4rem;
	&-telegram{@include social('telegram');}
	&-twitter{@include social('twitter');}
	&-discord{@include social('discord');}
	&-discord2{@include social('discord2');}
	&-medium{@include social('medium');}
	&-youtube{@include social('youtube');}
	&-instagram{@include social('instagram');}
	&-linkedin{@include social('linkedin');}
}
body.before-load {
	//overflow: hidden;
	.loading {
		opacity: 1;
		z-index: 100;
		visibility: visible;
	}
}
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: 0.5s;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
}

@keyframes loading-spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-circle-ani {
	0% {
		stroke-dashoffset: 157;
	}
	75% {
		stroke-dashoffset: -147;
	}
	100% {
		stroke-dashoffset: -157;
	}
}

.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 3s infinite;
	circle {
		stroke: #fff;
		stroke-width: 4;
		// getTotalLength()로 strock의 길이를 얻을 수 있다.
		stroke-dasharray: 157;
		stroke-dashoffset: 0;
		fill: transparent;
		animation: loading-circle-ani 1s infinite;
	}
}

.btn-menu {
	display: block;
	padding: 1rem;
}

.btn-play {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	width: 8rem;
	height: 8rem;
	background-color: #191919;
	border-radius: 50em;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}
.btn-more {
	width: 100%;
	border-radius: 50em;
	background-color: #fff;
	padding: 1.2rem 2rem;
	font-weight: 700;
	font-size: 1.8rem;
	letter-spacing: -0.05rem;
	max-width: 30rem;
	color: #191919;
}

.btn-nft {
	width: 14rem;
	height: 14rem;
	background-color: #333;
	border-radius: 3rem;
	font-size: 3.8rem;
	color: #fafafc;
	font-weight: 700;
	box-shadow: 0px 14px 0px #000000;
	cursor: default;
}

.btn-close {
	width: 2.4rem;
	height: 2.4rem;
	background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.6138 2.25091C24.1287 1.73599 24.1287 0.901128 23.6138 0.386202C23.0989 -0.128724 22.264 -0.128724 21.7491 0.386202L12 10.1353L2.25091 0.386202C1.73598 -0.128724 0.90112 -0.128724 0.386194 0.386202C-0.128731 0.901128 -0.128731 1.73599 0.386194 2.25091L10.1353 12L0.386194 21.7491C-0.128731 22.264 -0.128731 23.0989 0.386194 23.6138C0.90112 24.1287 1.73598 24.1287 2.25091 23.6138L12 13.8647L21.7491 23.6138C22.264 24.1287 23.0989 24.1287 23.6138 23.6138C24.1287 23.0989 24.1287 22.264 23.6138 21.7491L13.8647 12L23.6138 2.25091Z" fill="white"/></svg>') 0 0 no-repeat;
	font-size: 0;
}

.btn-go-top {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	border-radius: 50rem;
	z-index: 80;
	width: 5.6rem;
	height: 5.6rem;
	font-size: 0;
	background:#fff url('data:image/svg+xml,<svg viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.39876e-06 8L1.41 9.41L7 3.83L7 24L9 24L9 3.83L14.58 9.42L16 8L8 -6.99382e-07L1.39876e-06 8Z" fill="rgb(25, 25, 25)"/></svg>') 50% 50% no-repeat;
	background-size: 1.6rem auto;
	opacity: 0;
	transition: 0.3s ease;
	&.on {
		opacity: 1;
	}
}

@keyframes motion {
	0% {transform: translateY(0);
		opacity: 0;}
	100% {transform: translateY(3rem);opacity: 1;}
}

.scroll-down {
	display: none;
	text-align: center;
	span {
		display: block;
		margin-bottom: 1.4rem;
	}
	.ico-scroll-down {
		display: inline-block;
		width: 1.6rem;
		height: 2.4rem;
		background: url('data:image/svg+xml,<svg viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="white"/></svg>') 50% 50% no-repeat;
		background-size: contain;
		animation: motion 1s linear 0s infinite alternate;
	}
}

.youtube-box {
	position: relative;
	z-index: 2;
	width: 100vw;
	height: ratioH(41.4rem, 25.7rem, 100vw);
	max-width: 119.8rem;
	max-height: ratioH(41.4rem, 25.7rem, 119.8rem);
	//(100vw * 25.7rem) / 41.4rem;
	//height: calc();
	background-color: #000;
	filter: drop-shadow(0px 14px 10px rgba(0, 0, 0, 0.35));
	.btn-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
	.youtube-backdrop {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
		transition: opacity 0.3s ease;
		&.off {
			opacity: 0;
			height: 0;
		}
	}
	&.b2 {
		width: 79vw;
		height: ratioH(41.4rem, 25.7rem, 79vw);
		//height: 20rem;
		margin-top: 5rem;
		max-width: 59.4rem;
		max-height: ratioH(41.4rem, 25.7rem, 59.4rem);
		////margin-bottom: 10rem;
		//max-width: 59rem;
	}
}

.cards-box-m {
	position: relative;
	z-index: 0;
	text-align: center;
	margin-top: -10%;
	width: 120%;
	margin-left: -10%;
	.card-group {
		display: flex;
		justify-content: space-around;
		img {
			width: 30%;
			margin: 1.5%;
			filter: drop-shadow(0px 1.4rem 1rem rgba(0, 0, 0, 0.35));
		}
	}
}
.cards-box-pc {
	display: none;
	max-width: 144rem;
	margin: auto;
	position: relative;
	.btn-nft {
		position: absolute;
		left: calc(50% - 7rem);
		right: 0;
		top: calc(50% + 38rem);
	}
	.card-group {
		width: 27rem;
		&.vertical {
			img {
				margin: 4.5rem 0;
			}
		}
		&.horizontal {
			display: flex;
			width: 100%;
			height: 27rem;
			img {
				width: initial;
				height: 100%;
				margin: 0 4.5rem;
			}
		}
		&:nth-of-type(1) {
			margin-left: 29rem;
			margin-top: -9%;
		}
		&:nth-of-type(2) {
			margin-left: 60rem;
			margin-top: -41rem;
		}
		&:nth-of-type(3) {
			margin-left: -51rem;
			margin-top: 28rem;
		}
		&:nth-of-type(4) {
			margin-left: 89rem;
			margin-top: -40.5rem;
		}
	}
	img {
		width: 100%;
		filter: drop-shadow(0px 1.4rem 1rem rgba(0, 0, 0, 0.35));
		&.opacity {
			opacity: 0.8;
		}
		transition: 0.3s linear;
	}
	.groups {
		position: absolute;
		&.groups-1 {
			top: 22rem;
			left: -45rem;
			width: 68rem;
		}
		&.groups-2 {
			top: 20rem;
			right: -40rem;
			width: 119rem;
		}
		&.groups-3 {
			bottom: -74rem;
			left: -96rem;
			width: 119rem;
		}
		&.groups-4 {
			bottom: -66rem;
			right: -48rem;
			width: 68rem;
		}
	}
}

@media (min-width: 960px) {
	.logo {
		width: 15rem;
		height: ratioH(8.9rem, 3.7rem, 15rem);
	}
	.scroll-down {
		display: block;
	}
	.btn-menu {
		display: none;
	}
	.cards-box-m {
		display: none;
	}
	.cards-box-pc {
		display: block;
	}
	.btn-go-top {
		right: 10%;
		bottom: 28rem;
	}
}