body {
	overflow-x: hidden;
}
.header {
	width: 100%;
	height: 6rem;
	position: fixed;
	top: 3.4rem;
	left: 0;
	right: 0;
	z-index: 99;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 2.2rem;
		padding-left: 2.2rem;
	}
	.rt {
		display: inline-flex;
		align-items: center;
	}
	.nav {
		width: 0;
		opacity: 0;
		transition: 0.3s ease;
		.nav-list {
			visibility: hidden;
			display: inline-flex;
			align-items: center;
			li {
				margin-right: 1rem;
				margin-left: 1rem;
				a {
					font-weight: 700;
					padding: 0.5rem;
					font-size: 1.6rem;
					text-decoration: none;
					color: #fff;

				}
			}
		}
	}
}

.footer {
	padding: 10rem 4rem;
	.nav-list {
		li {
			margin-bottom: 2rem;
			a{
				text-decoration: none;
				font-size: 1.8rem;
				color: #bdbdbd;
				font-weight: 700;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.social-box {
		margin-top: 5rem;
	}
	.social-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5rem;
		li {
			a{
				.ico {
					width: 2.8rem;
					height: 2.8rem;
					opacity: 0.5;
				}
			}
		}
	}
	.copy {
		font-size: 1.2rem;
		color: #f2f2f2;
	}
}
.wide {
	video {
		height: auto !important;
		width: 100% !important;
		margin-top: -6% !important;
	}
}

.container {
	max-width: 144rem;
	margin: auto;
}

.sidebar {
	width: 100%;
	height: 100%;
	background: #0035FF url('data:image/svg+xml,<svg width="371" height="738" viewBox="0 0 371 738" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="1.07812" y1="368.5" x2="370.078" y2="368.5" stroke="rgb(0, 136, 255)"/><line x1="1.43168" y1="368.646" x2="262.354" y2="629.569" stroke="rgb(0, 136, 255)"/><line x1="1.32813" y1="368.567" x2="320.891" y2="553.067" stroke="rgb(0, 136, 255)"/><line x1="1.20753" y1="368.517" x2="357.634" y2="464.021" stroke="rgb(0, 136, 255)"/><line x1="0.948716" y1="368.517" x2="357.376" y2="273.013" stroke="rgb(0, 136, 255)"/><line x1="0.828125" y1="368.567" x2="320.391" y2="184.067" stroke="rgb(0, 136, 255)"/><line x1="0.646447" y1="368.724" x2="261.646" y2="107.724" stroke="rgb(0, 136, 255)"/><line x1="0.578125" y1="738" x2="0.578125" stroke="rgb(0, 136, 255)"/></svg>') 4rem 50% no-repeat;
	background-size: calc(100% - 4rem) auto;
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 5rem;
	transition: 0.3s ease;
	&.active {
		transform: translateX(-100%);
	}
	.btn-close {
		position: absolute;
		top: 5rem;
		right: 4rem;
	}
	.side-nav {
		li {
			margin-bottom: 10%;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.side-nav-link {
			color: #fff;
			text-decoration: none;
			font-size: 2.6rem;
			font-weight: 700;
			//letter-spacing: -0.02em;
			&.active {
				&:after{
					background-color: #fff;
				}
			}
			&:after{
				content: '';
				display: block;
				width: auto;
				height: 0.5rem;
			}
		}
	}
}

#mainVideoM {
	display: block;
}
#mainVideoP {
	display: none;
}

.main {
	position: relative;
	overflow: hidden;
	.scroll-down {
		position: absolute;
		bottom: 5rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.text-group {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 4rem 4rem;
		hgroup {
			margin-bottom: 3rem;
		}
		.title {
			font-weight: 700;
			font-size: 3.8rem;
			letter-spacing: -0.2rem;
		}
		.s-title {
			font-size: 1.8rem;
		}
		.desc {
			color: #F2F2F2;
		}
	}
}
.video-box {
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
	video {
		width: 120%;
		position: absolute;
		top: -10rem;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
	}
}

.main-slider {
	width: 100%;
	overflow-x: hidden;
	.slick-slide {
		position: relative;
		width: 100%;
		.img {
			width: 100%;
			height: 50rem;
			position: relative;
			z-index: 5;
			display: flex;
			align-items: center;
			overflow: hidden;
			> canvas {
				display: none;
			}
			//.lottie {
			//	width: 100%;
			//	height: 100%;
			//}
		}
		.text-group {
			position: relative;
			z-index: 1;
			min-height: 28rem;
			padding: 0 4rem 4rem;
			hgroup {
				margin-bottom: 3rem;
			}
			.title {
				font-weight: 700;
				font-size: 3.8rem;
			}
			.s-title {
				font-size: 2rem;
			}
			.desc {
				color: #F2F2F2;
			}
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			opacity: 0.8;
		}
	}
	.slide-1 {
		background: url("../images/slider-bg-1.jpg") 50% 50% no-repeat;
		background-size: auto 100%;
		&:before {
			background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
		}
		.img {
			padding-top: 3rem;
			justify-content: center;
			> canvas {
				width: auto;
				height: 100%;
			}
			.lottie {
				width: 100%;
				height: 100%;
				text-align: center;
				svg {
					width: auto !important;
					max-width: 100%;
					//width: auto !important;
					//height: 100% !important;
				}
				//canvas {
				//	width: auto;
				//	height: 100%;
				//}
				//margin: auto;
				//height: 100%;
			}
		}
	}
	.slide-2 {
		background: url("../images/slider-bg-2.jpg") 50% 50% no-repeat;
		background-size: auto 100%;
		&:before {
			background: linear-gradient(180deg, #FFD600 9.83%, #0035FF 58.98%);
		}
		.img {
			> canvas {
				width: auto;
				height: 70%;
			}
			.lottie {
				svg {
					width: 150% !important;
				}
			}
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 30rem;
		left: 4rem;
		display: inline-flex;
		margin-right: -0.2rem;
		margin-left: -0.2rem;
		li {
			margin-right: 0.2rem;
			margin-left: 0.2rem;
			button {
				display: block;
				padding: 0;
				width: 3rem;
				height: 1rem;
				background-color: #fff;
				opacity: 0.3;
				font-size: 0;
				border-radius: 1rem;
			}
			&.slick-active {
				button {
					opacity: 1;
				}
			}
		}
	}
}

.world {
	@include section('world');
	@include txt;
	overflow-x: hidden;
	padding-bottom: 30rem;
	background-color: #333;
	.title-group {
		padding-right: 2.7rem;
		padding-left: 2.7rem;
		max-width: 100rem;
		margin: auto;
	}
	.world-box {
		max-width: 91.5rem;
		margin: auto;
	}
	.lottie3 {
		text-align: center;
		position: relative;
		z-index: 1;
		img {
			display: inline-block;
		}
	}
	.text-group {
		margin-top: -20rem;
		text-align: center;
		.explore {
			float: left;
			width: 8rem;
			margin-left: 3rem;
		}
		.expand {
			width: 5rem;
			margin-top: 34rem;
		}
		.earn {
			float: right;
			width: 6.5rem;
			margin-top: 23rem;
			margin-right: 3rem;
		}
		@include clearfix;
	}

	.gameplay {
		padding-top: 5rem;
		max-width: 119rem;
		margin: auto;
		.gameplay-title-box {
			padding: 5rem 4rem;
			position: relative;
			h3 {
				font-size: 2rem;
				margin-bottom: 2rem;
				position: relative;
				z-index: 1;
			}
			img {
				width: 17rem;
				position: absolute;
				top: 1rem;
				right: 0.9rem;
				z-index: 0;
			}
		}
	}
	.nfts {
		padding: 16rem 3rem 20rem 3rem;
		text-align: center;
		.s-title {
			font-size: 1.8rem;
			margin-bottom: 1.2rem;
		}
		.title {
			font-size: 2.6rem;
			margin-bottom: 1rem;
		}
		.desc {
			font-size: 1.4rem;
			margin-bottom: 8rem;
		}
		.btn-more {
			width: 90%;
		}
	}
	.in-game-box {
		padding-right: 4rem;
		padding-left: 4rem;
		//max-width: 113rem;
		//margin: auto;
		.top {
			margin-bottom: 8rem;
			label {
				font-weight: 700;
			}
			h3 {
				font-weight: 700;
				font-size: 2rem;
				margin-bottom: 1.9rem;
			}
		}
		.youtube-box {
			margin-bottom: 10rem;
		}
		.list {
			.ico {
				width: 4.8rem;
				height: 4.8rem;
				border-radius: 50em;
				margin-right: 1rem;
				background-color: #191919;
				//background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: 50% 50%;
				flex-shrink: 0;
				&.ico-game-1 {
					background-image: url("../images/game/ico-1.png");
				}
				&.ico-game-2 {
					background-image: url("../images/game/ico-2.png");
				}
				&.ico-game-3 {
					background-image: url("../images/game/ico-3.png");
				}
				&.ico-game-4 {
					background-image: url("../images/game/ico-4.png");
				}
				&.ico-game-5 {
					background-image: url("../images/game/ico-5.png");
				}
				&.ico-game-6 {
					background-image: url("../images/game/ico-6.png");
				}
			}
			li {
				display: flex;
				align-items: center;
				margin-bottom: 2rem;
				font-weight: 700;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.utillity {
	@include section('blue');
	@include txt;
	overflow-x: hidden;
	.card {
		background-color: #191919;
		border-radius: 2rem;
		padding: 4rem;
		text-align: center;
		margin-bottom: 3rem;
		h3 {
			font-size: 2.6rem;
			font-weight: 700;
		}
		p {
			font-size: 1.6rem;
		}
		.ico-box {
			position: relative;
			display: inline-block;
			width: 11rem;
			height: 11rem;
			margin: 5rem 0;
			z-index: 1;
			.round {
				display: block;
				margin: auto;
				width: 100%;
				height: 100%;
				border-radius: 50em;
				background: linear-gradient(225deg, #00C1FF 9.89%, #566FF2 90.37%);
			}
			img {
				position: absolute;
				transition: 0.3s ease;
				&.img-1 {
					transform: translate3d(-37px, 37px, 0);
					bottom: -3rem;
					left: -3rem;
				}
				&.img-2 {
					transform: translate3d(39px, -39px, 0);
					//top: -2.5rem;
					//right: -2.5rem;
					top: -1.7rem;
					right: -1.7rem;
					height: 10rem;
				}
				&.on {
					transform: translateZ(0);
				}
			}
			.ico-round {
				transition: 0.3s ease;
				transform: translate3d(-40px, 40px, 0);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				padding: 1.3rem;
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(10px);
				border-radius: 50em;
				img {
					position: static;
				}
				&.on {
					transform: translateZ(0);
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.team {
	@include section('team');
	@include txt;
	.team-list {
		max-width: 34rem;
		margin: 0 auto;
	}
	.team-item {
		margin-bottom: 8rem;
		text-align: center;
		img {
			width: 15rem;
			margin-left: -50%;
		}
		.box {
			text-align: left;
			padding: 2.4rem;
			border-radius: 0.4rem;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			//transform: translate(36%, -5rem);
			max-width: 22rem;
			margin-left: 30%;
			margin-top: -4rem;
			h4{
				font-size: 1.8rem;
				font-weight: 700;
				margin-bottom: 1.6rem;
			}
			ul {
				li {
					list-style: disc;
					margin-left: 10%;
					font-size: 1.4rem;
					font-weight: 400;
					line-height: 1.4;
				}
			}
		}
		button {
			display: none;
		}
		&:first-of-type {
			img {
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.partners {
	@include section('dark');
	@include txt;
	h3 {
		font-size: 2.6rem;
		text-align: center;
		margin-bottom: 6rem;
	}
	.card {
		background: linear-gradient(0deg, rgba(0, 62, 135, 0.05), rgba(0, 62, 135, 0.05)), rgba(255, 255, 255, 0.09);
		border-radius: 2rem;
		padding: 7rem 3rem;
		margin-bottom: 3rem;
		text-align: center;
	}
	.horizontal {
		display: flex;
		margin-right: -0.9rem;
		margin-left: -0.9rem;
		.card {
			flex: 1;
			margin-right: 0.9rem;
			margin-left: 0.9rem;
			padding-bottom: 4rem;
			picture {
				display: block;
			}
			img {
				margin-top: -5rem;
			}
		}
	}
}

.investors {
	@include section('blue');
	@include txt;
	text-align: center;
	.desc {
		margin-bottom: 5rem;
	}
}

.milestone {
	position: relative;
	overflow-x: hidden;
	@include section('default');
	@include txt;
}

.road-map {
	position: relative;
	padding: 10rem 4rem;
	overflow-x: hidden;
	//@include section('default');
	@include txt;
	.container {
		max-width: 80rem;
	}
	.title-group {
		text-align: center;
	}
	.title {
		display: inline-block;
		position: relative;
		sup {
			font-size: 2rem;
			position: absolute;
			top: -1.5rem;
			right: -4.5rem;
		}
	}
	//.ag-timeline_title-box {
	//	margin-bottom: 5rem;
	//	.title {
	//		display: inline-block;
	//		font-weight: 700;
	//		font-size: 3.8rem;
	//		color: #fff;
	//		margin-bottom: 3rem;
	//		position: relative;
	//		sup {
	//			font-size: 2rem;
	//			position: absolute;
	//			top: -1.5rem;
	//			right: -4.5rem;
	//		}
	//	}
	//}
	//.ag-timeline-card_point {
	//	display: flex;
	//	align-items: center;
	//	justify-content: center;
	//	border: 0;
	//	width: 5rem;
	//	height: 5rem;
	//	line-height: 1.4;
	//	background-color: #333;
	//	font-family: 'Noto Sans', sans-serif;
	//	font-size: 1.9rem;
	//	font-weight: 700;
	//	color: #555;
	//}
	//.ag-timeline_line {
	//	width: 0.4rem;
	//	background-color: #333;
	//}
	//.ag-timeline_line-progress {
	//	background-color: #0088FF;
	//}
	//.js-ag-active {
	//	.ag-timeline-card_point {
	//		color: #fff;
	//		background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
	//	}
	//}
	//
	//.ag-timeline-card_item {
	//	height: 40rem;
	//	background-color: #00E0FF;
	//}
}

.community {
	@include section('blue');
	@include txt;
	//.counter-box {
	//	text-align: center;
	//	margin-bottom: 7rem;
	//	.counter {
	//		font-weight: 100;
	//		font-size: 20vw;
	//	}
	//}
	.social-counter-box {
		text-align: center;
		margin-bottom: 10rem;
	}
	.social-counter-list {
		display: inline-flex;
		li {
			background-color: #fff;
			padding: 0.5rem;
			border-radius: 50em;
			display: flex;
			align-items: center;
			//min-width: 23rem;
			&:nth-child(2) {
				margin-right: 1rem;
				margin-left: 1rem;
				//margin-right: 6rem;
				//margin-left: 6rem;
			}
		}
		.ico {
			width: 3rem;
			height: 3rem;
			background-color: #191919;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			flex-shrink: 0;
			.social {
				width: 60%;
				height: 60%;
				//width: 4rem;
				//height: 4rem;
				//width: 100%;
				//height: auto;
			}
		}

		.social-counter {
			color: #191919;
			font-size: 1.6rem;
			//font-size: 4rem;
			font-weight: 900;
			padding: 0.5rem;
			//margin-left: 5%;
			//margin-left: 2.2rem;
		}
	}
	.social-item {
		margin-bottom: 8rem;
		padding-left: 3.4rem;
		.social-title {
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 2rem;
			margin-bottom: 4rem;
			margin-left: -3.4rem;
			.social {
				margin-right: 0.9rem;
			}
		}
		.link {
			display: inline-flex;
			align-items: center;
			line-height: 1.8rem;
			font-weight: 700;
			text-decoration: none;
			color: #fff;
			word-break: break-all;
			//margin-left: 3.4rem;
			.ico-side-arrow {
				display: inline-block;
				vertical-align: middle;
				margin-left: 1rem;
				width: 1.8rem;
				height: 1.8rem;
				background-color: #fff;
				border-radius: 50em;
				background-size: auto 0.8rem;
				flex-shrink: 0;
			}
		}
		.global-link {
			margin-bottom: 7rem;
			p{
				margin-bottom: 2rem;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.link-group {
			display: flex;
			flex-wrap: wrap;
			> span {
				display: block;
				width: 50%;
				margin: 1rem 0;
			}
			.link {
				.ico-side-arrow {
					background-color: rgba(255,255,255,0.2);
					@include ico('side-arrow', 'rgb(255, 255, 255)');
					background-size: auto 0.8rem;
				}
			}
		}
	}
	.other-social-list {
		background-color: #fff;
		border-radius: 2rem;
		padding: 1rem 1.5rem;
		display: flex;
		flex-flow: wrap;
	}
	.other-social-item {
		width: 50%;
		//width: calc(50% - 2rem);
		a{
			text-decoration: none;
			color: #555;
			font-weight: 700;
			display: inline-flex;
			align-items: center;
			margin: 1.5rem 1rem;
		}
		.social {
			margin-right: 1rem;
			flex-shrink: 0;
		}
		.ico-side-arrow {
			width: 1.8rem;
			height: 1.8rem;
			background-size: auto 0.8rem;
			margin-left: 0.5rem;
		}
	}
}

@media (min-width: 376px) {
	.community {
		.counter-box {
			.counter {
				font-size: 7.4rem;
			}
		}
	}
	.footer {
		.social-box {
			max-width: 37rem;
		}
		.social-list {

		}
	}
}

@media (min-width: 768px) {
	.video-box {
		video {
			width: 100%;
			margin-top: -20rem;
		};
	}
	//.main-slider {
	//	.slide-2 {
	//		.img {
	//			> canvas {
	//				margin: auto;
	//				max-height: 50rem;
	//			}
	//			.lottie {
	//				svg {
	//					width: 100% !important;
	//				}
	//			}
	//		}
	//	}
	//}
	.community {
		.social-counter-list {
			li {
				padding: 1rem;
				&:nth-child(2) {
					margin-left: 2rem;
					margin-right: 2rem;
				}
			}
			.ico {
				width: 5rem;
				height: 5rem;
				.social {

				}
			}

			.social-counter {
				font-size: 3rem;
				padding: 0.5rem 1rem;
			}
		}
		.social-item {

			//.social-title {
			//
			//	.social {
			//	}
			//}
			//.link {
			//
			//	.ico-side-arrow {
			//
			//	}
			//}
			//.global-link {
			//	p{
			//		&:last-of-type {
			//		}
			//	}
			//}
			//.link-group {
			//
			//}
		}
	}

}

//@media (min-width: 960px) and (min-height: 850px) {
//	#mainVideoM {
//		display: none;
//	}
//	#mainVideoP {
//		display: block;
//	}
//	.main {
//		video {
//			width: 100%;
//		}
//		.text-group {
//			padding: 0;
//			background-color: blue;
//			//position: relative;
//			//z-index: 1;
//			//min-height: 28rem;
//			//padding: 0 4rem 4rem;
//			//hgroup {
//			//	margin-bottom: 3rem;
//			//}
//			//.title {
//			//	font-weight: 700;
//			//	font-size: 3.8rem;
//			//}
//			//.s-title {
//			//	font-size: 2rem;
//			//}
//			//.desc {
//			//	color: #F2F2F2;
//			//}
//		}
//	}
//}
@media (min-width: 960px) {
	.header {
		.nav {
			width: auto;
			opacity: 1;
			.nav-list {
				visibility: visible;
			}
		}
	}
	#mainVideoM {
		display: none;
	}
	#mainVideoP {
		display: block;
	}
	.main  {
		.text-group {
			padding: 0;
			position: absolute;
			top: 54%;
			left: 10%;
			bottom: initial;
			width: 80rem;
			hgroup {}
			.s-title {
				font-size: 3.8rem;
				margin-bottom: 1.5rem;
			}
			.title {
				font-size: 7rem;
			}
			.desc {
				font-size: 2rem;
			}
		}
	}
	.video-box {
		video {
			width: auto;
			height: 130%;
			margin-top: -2%;
		};
	}
	//.main-slider {
	//	.slick-slide {
	//		height: 100vh;
	//		.img {
	//			position: relative;
	//			height: 100%;
	//			max-width: 144rem;
	//			margin: auto;
	//			z-index: 0;
	//			justify-content: flex-end;
	//			> canvas {
	//				display: block;
	//			}
	//			.lottie {
	//				display: none;
	//			}
	//		}
	//		.text-group {
	//			width: 100%;
	//			position: absolute;
	//			z-index: 2;
	//			top: calc(50%  + 5rem);
	//			left: 50%;
	//			max-width: 144rem;
	//			transform: translateX(-50%);
	//		}
	//	}
	//	.slide-1  {
	//		.img {
	//			> canvas {
	//				width: 60rem;
	//				height: auto;
	//			}
	//		}
	//		.text-group {
	//			.title {
	//				font-size: 7rem;
	//				br {
	//					display: none;
	//				}
	//			}
	//			.desc {
	//				max-width: 62rem;
	//				font-size: 2rem;
	//			}
	//		}
	//	}
	//	.slide-2 {
	//		.img {
	//			transform: translateX(40%);
	//			> canvas {
	//				max-height: 60rem;
	//			}
	//		}
	//		.text-group {
	//			.title {
	//				font-size: 10rem;
	//			}
	//			.s-title {
	//				font-size: 3.8rem;
	//				margin-bottom: 1rem;
	//			}
	//			.desc {
	//				max-width: 60rem;
	//				font-size: 2rem;
	//			}
	//		}
	//	}
	//
	//	.slick-dots {
	//		bottom: 15rem;
	//		left: 50%;
	//		transform: translateX(-50%);
	//		li {
	//			margin-right: 0.4rem;
	//			margin-left: 0.4rem;
	//			button {
	//				width: 3.8rem;
	//				height: 1.5rem;
	//			}
	//		}
	//	}
	//}
	.team {
		min-height: 100vh;
		text-align: center;
		@include txt-pc;
		.team-list {
			display: flex;
			max-width: inherit;
			margin-top: 20rem;
		}
		.team-item {
			width: 25%;
			position: relative;
			margin-bottom: 0;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: space-between;
			img {
				margin-left: 0;
			}
			.box {
				max-width: initial;
				margin-top: 0;
				margin-left: 0;
				position: absolute;
				width: 100%;

				transform: translateY(24px);
				opacity: 0;
				transition: 0.3s ease;
				z-index: 1;
				&.active {
					transform: translateY(0);
					opacity: 1;
					z-index: 1;
					& + button {
						z-index: 0;
						opacity: 0;
					}
				}
			}
			button {
				position: relative;
				z-index: 2;
				display: inline-flex;
				justify-content: center;
				text-align: center;
				border-radius: 7rem;
				padding: 1.5rem;
				background: rgba(255, 255, 255, 0.1);
				border: 1px solid rgba(255, 255, 255, 0.1);
				box-shadow: inset -3px 6px 15px rgba(20, 94, 163, 0.2), inset 0px -10px 10px rgba(40, 101, 172, 0.05), inset -10px 10px 10px rgba(255, 255, 255, 0.15);
				backdrop-filter: blur(20px);
				> span {
					display: flex;
					padding: 1.6rem 4rem;
					font-weight: 700;
					font-size: 1.6rem;
					border-radius: 7rem;
					color: #fff;
					background: linear-gradient(46.23deg, #0035FF 45.81%, #00E0FF 85.52%);
					box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
					transition: 0.3s ease;
				}
				&:hover {
					box-shadow: inset -3px 6px 15px rgba(20, 94, 163, 0.2), inset 0px -10px 10px rgba(40, 101, 172, 0.05), inset -10px 10px 10px rgba(255, 255, 255, 0.15);
					> span {
						background: linear-gradient(235.75deg, #0035FF 13.05%, #00E0FF 89.45%);
					}
				}
				&:active {
					> span {
						background: linear-gradient(45.18deg, #00FFE2 7.2%, #00A3FF 93.03%);
						box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
					}
				}
			}
			&:nth-child(1) {
				img {
					transform: none;
				}
				.box {
					top: 46%;
				}
			}
			&:nth-child(2) {
				.box {
					top: 34%;
				}
			}
			&:nth-child(3) {
				.box {
					top: 34%;
				}
			}
			&:nth-child(4) {
				.box {
					top: 34%;
				}
			}
		}
	}
	.world {
		@include txt-pc;
		padding-top: 20rem;
		background-color: #191919;
		.nfts {
			@include txt-pc;
			.title {
				margin-bottom: 3rem;
			}
			.btn-more {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				font-size: 2.6rem;
			}
		}
		.text-group {
			.explore {
				width: 14rem;
			}
			.expand {
				width: 10rem;
				margin-top: 50%
			}
			.earn {
				width: 12rem;
			}
		}
		.gameplay {
			margin-top: -25rem;
			.cards-box {
				display: none;
			}
			.gameplay-title-box {
				img {
					width: 24rem;
					top: -5rem;
					right: 0;
				}
			}
		}
		.in-game-box {
			.top {
				label {
					font-size: 1.6rem;
				}
				h3 {
					font-size: 3.8em;
				}
				p {
					font-size: 1.6rem;
				}

			}
			.youtube-box {
				margin-bottom: 20rem;
			}
			.list {
				display: inline-flex;
				align-items: center;
				li {
					margin-bottom: 0;
					margin-right: 6rem;
				}
			}
			&:last-of-type {
				float: right;
				//margin-left: 46%;
			}
			@include clearfix;
		}
	}
	.partners {
		@include txt-pc;
		h3 {
			margin-bottom: 12rem;
		}
		.container {
			display: flex;
			flex-wrap: wrap;
			.card {
				width: calc(50% - (0.9rem * 2));
				margin:0.9rem;
				padding-bottom: 7rem;
			}
			.horizontal {
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				picture {
					margin-top: 12rem;
				}
			}
		}
	}
	.investors {
		@include txt-pc;
	}
	.milestone {
		@include txt-pc;
	}
	.road-map {
		@include txt-pc;
	}
	.community {
		@include txt-pc;
		.counter-box {
			display: none;
		}
		.social-counter-box {
			display: block;
		}
		.social-counter-list {
			li {
				min-width: 23rem;
				&:nth-child(2) {
					margin-right: 6rem;
					margin-left: 6rem;
				}
			}
			.ico {
				width: 7rem;
				height: 7rem;
			}
			.social-counter {
				font-size: 4rem;
				padding: 0;
				margin-left: 2rem;
			}
		}
		.social-list {
			display: flex;
			.social-item {
				flex: 1;
				margin-bottom: 0;
			}
		}
		.other-social-list {
			display: inline-flex;
			flex-flow: row;
			transform: translate(32vw, -8.5rem);
		}
		.other-social-item {
			margin-right: 0.5rem;
			margin-left: 0.5rem;
		}
	}
	.utillity {
		padding-top: 20rem;
		padding-bottom: 24rem;
		@include txt-pc;
		.card-box {
			max-width: 94rem;
			margin: auto;
			display: flex;
			.card {
				margin-right: 1.5rem;
				margin-left: 1.5rem;
				margin-bottom: 0;
				width: 50%;
				height: 100%;
			}
		}
		//.card {
		//	width: 47.8rem;
		//}
	}
	.footer {
		padding-top: 7rem;
		padding-bottom: 7rem;
		.nav-list {
			display: flex;
			margin-left: -1%;
			margin-right: -1%;
			margin-bottom: 12rem;
			li {
				margin-right: 1%;
				margin-left: 1%;
				margin-bottom: 0;
				a {}
			}
		}
		.social-box {
			max-width: initial;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
			//float: right;
			//margin: 0;
		}
		.social-list {
			margin-bottom: 0;
			margin-right: -2rem;
			margin-left: -2rem;
			li {
				margin-right: 2rem;
				margin-left: 2rem;
			}
		}
		.copy {
			//float: left;
		}

		@include clearfix;
	}
}

@media (min-width: 1200px) {
	.main-slider {
		.slide-2 {
			.img {
				transform: translateX(30%);
			}
		}
	}
	.world {
		.gameplay {
			.gameplay-title-box {
				padding: 0 0 5rem 0;
				h3 {
					font-size: 3.8rem;
				}
				p {
					font-size: 1.6rem;
				}
				img {
					width: 36rem;
					transform: translate3d(150px, -135px, 0);
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.header {
		.nav {
			.nav-list {

				li {
					margin-right: 2rem;
					margin-left: 2rem;
				}
			}
		}
	}
	.main-slider {
		.slide-1, .slide-2 {
			background-size: cover;
		}

	}
	.community {
		.other-social-list {
			transform: translate(44rem, -8.5rem);
		}
	}
}

@media (min-width: 1600px) {
	//.video-box {
	//	video {
	//		width: 100%;
	//		height: auto;
	//		margin-top: 0;
	//	}
	//}
	.community {
		.other-social-list {
			transform: translate(48rem, -8.5rem);
		}
	}
}

@media only screen and (max-width: 979px) {
	.ag-timeline_line {
		left: 33px;
	}
	.ag-timeline-card_item {
		min-width: calc(100vw - 15rem);
	}
}

//@media (orientation: landscape) {
//	#mainVideoM {
//		display: none;
//	}
//	#mainVideoP {
//		display: block;
//	}
//	.main {
//		color: red;
//	}
//	.video-box {
//		height: auto;
//		max-height: 100vh;
//	}
//}

@media (max-width: 413px) and (max-height: 700px) {
	.main {
		.text-group {
			padding: 0 2.5rem 4rem 2.5rem;
			hgroup {
				margin-bottom: 2rem;
			}
			.s-title {
				font-size: 1.6rem;
			}
			.title {
				font-size: 3.4rem;
			}
		}
	}
	.video-box {
		video {
			top: -15rem;
		}
	}
}
